<!DOCTYPE html>
<html lang="{{#if lang}}{{lang}}{{else}}en{{/if}}" class="no-js">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title>{{#if title-override}}{{title-override}}{{else}}{{#if title}}{{title}} @bhdzllr{{else}}@bhdzllr{{/if}}{{/if}}</title>

		<meta name="description" content="{{#if description}}{{description}}{{else}}Bernhard Zeller (@bhdzllr) is a Full Stack Web Developer and Maker from Austria.{{/if}}" />
		{{#if author}}<meta name="author" content="{{author}}" />{{/if}}
		<meta name="robots" content="index, follow" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/icon.png" type="image/png" />
		<link rel="apple-touch-icon" href="/icon.png">
		<link rel="manifest" href="/site.webmanifest">
		<meta name="theme-color" content="#172525">

		<script src="/js/lib/files/check.js"></script>

		<link rel="preload" href="/fonts/OpenSans-Light.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="preload" href="/fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="stylesheet" href="/css/style.min.css" />
	</head>
	<body{{#if bodyClassList}} class="{{bodyClassList}}"{{/if}}>
		<header id="site-header">
			<div id="site-header-bar" class="container container--sh">
				<a href="/" title="Start" id="site-branding"{{#ifEquals title 'Start'}} class="page-active"{{/ifEquals}}>
					<em>@bhdzllr</em>
				</a>

				<!-- Font Face Observer aus Web Template entfernen -->

				<!-- @todo
					Like/Feedback Button
					Outline und Selection Style in article--blog

					Bilder 2x und width + height
					Bessere Implementierung von active link (sub pages)
					Gallery
					Social Media Tags
					Analytics
					Cube Text Start Animation
					Legal, Imprint

					Drop IE11 -> modules, just show No JS Fallback
				-->

				<nav id="site-nav">
					<ul>
						<li>
							<a href="/blog"{{#ifEquals title 'Blog'}} class="page-active"{{/ifEquals}}>Blog</a>
						</li>
						<li>
							<a href="/projects"{{#ifEquals title 'Work'}} class="page-active"{{/ifEquals}}>Work</a>
						</li>
						<li>
							<a href="/contact"{{#ifEquals title 'Mail'}} class="page-active"{{/ifEquals}}>Mail</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
