<!DOCTYPE html>
<html lang="{{#if lang}}{{lang}}{{else}}en{{/if}}" class="no-js">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<title>{{#if title-override}}{{title-override}}{{else}}{{#if title}}{{title}} - @bhdzllr{{else}}@bhdzllr{{/if}}{{/if}}</title>

		<meta name="description" content="{{#if description}}{{description}}{{else}}Bernhard Zeller (@bhdzllr) is a Full Stack Web Developer and Maker from Austria.{{/if}}" />
		{{#if author}}<meta name="author" content="{{author}}" />{{/if}}
		<meta name="robots" content="index, follow" />

		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta property="og:locale" content="{{#if lang}}{{lang}}{{else}}en{{/if}}" />
		<meta property="og:title" content="{{#if title-override}}{{title-override}}{{else}}{{#if title}}{{title}} - @bhdzllr{{else}}@bhdzllr{{/if}}{{/if}}" />
		<meta property="og:description" content="{{#if description}}{{description}}{{else}}Bernhard Zeller (@bhdzllr) is a Full Stack Web Developer and Maker from Austria.{{/if}}" />
		<meta property="og:type" content="{{#if article}}article{{else}}website{{/if}}" />
		<meta property="og:url" content="{{data.baseUrl}}{{data.url}}" />
		<meta property="og:site_name" content="bhdzllr.com" />
		<meta property="og:image" content="{{#if article}}{{data.baseUrl}}{{article.image}}{{else}}{{data.baseUrl}}/img/social-media.jpg{{/if}}" /><!-- @todo -->
		<meta property="og:image:alt" content="{{#if article}}{{article.imageAlt}}{{else}}Bernhard Zeller (@bhdzllr){{/if}}" />
		<meta property="og:image:width" content="{{#if article}}{{imageWidth article.image}}{{else}}1200{{/if}}" />
		<meta property="og:image:height" content="{{#if article}}{{imageHeight article.image}}{{else}}628{{/if}}" />
		<meta name="twitter:card" content="summary_large_image" />
		<link rel="canonical" href="{{data.baseUrl}}{{data.url}}" />

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="/icon.png" type="image/png" />
		<link rel="apple-touch-icon" href="/icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="theme-color" content="#172525" />

		<script src="/js/lib/files/check.js"></script>

		<link rel="preload" href="/fonts/OpenSans-Light.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="preload" href="/fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin />
		<link rel="stylesheet" href="/css/style.min.css" />

		<link type="application/atom+xml" rel="alternate" href="/feed.xml" title="@bhdzllr - Blog">
	</head>
	<body{{#if bodyClassList}} class="{{bodyClassList}}"{{/if}}>
		<header id="site-header">
			<div id="site-header-bar" class="container container--sh">
				<a href="/" title="Start" id="site-branding"{{#ifEquals title 'Start'}} class="page-active"{{/ifEquals}}>
					<em>@bhdzllr</em>
				</a>

				<!-- @todo
					CSS Nesting weg
					Mit HTML "hidden" arbeiten bei Contact No-JS und Terminal Eingabefeld Helper
					No-JS/No-CSS Test
					Latest Startseite; Pfeile
					Legal, Imprint
					Cube Text Start Animation, Initial Load Redraw, Swap Cube Arrows?
					Analytics

					Drop IE11 -> modules, just show No JS Fallback, Image Lazy Loading
					Web Components -> Terminal, Dialog Modal
				-->

				<nav id="site-nav">
					<ul>
						<li>
							<a href="{{link 'blog'}}"{{#ifIsParentActive '/blog'}} class="page-active"{{/ifIsParentActive}}>Blog</a>
						</li>
						<li>
							<a href="{{link 'work'}}"{{#ifIsParentActive '/projects'}} class="page-active"{{/ifIsParentActive}}>Work</a>
						</li>
						<li>
							<a href="{{link 'mail'}}"{{#ifIsParentActive '/contact'}} class="page-active"{{/ifIsParentActive}}>Mail</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
