{{> "html-start"}}

		<main role="main" class="content container container--article container--sh">
			<article class="article article--{{article.type}}">
				<header class="article__header">
					<h1 class="article__title">{{article.title}}</h1>
					<p class="article__tagline">{{article.tagline}}</p>

					{{#if article.image}}
					<div class="article__image">
						{{image article.image article.imageAlt}}
					</div>
					{{/if}}

					<p class="article__datetime">{{article.year}}</p>
					<p class="article__categories">
						{{#each article.categories}}
						<span>{{this}}</span>
						{{/each}}
					</p>
				</header>

				<div class="article__content">
					{{#block "content"}}{{/block}}
				</div>

				<footer class="article__footer">
					{{#ifEquals article.type 'blog'}}
					<bhdzllr-reaction url="/server/api.php?action=like&id={{article.id}}" id="{{article.id}}"></bhdzllr-reaction>
					{{/ifEquals}}

					<p class="article__tags">
						{{#each article.tags}}
						<span class="article__tag">{{this}}</span>
						{{/each}}
					</p>
				</footer>

				<aside class="thanks">
					<p>
						Thank you
						<svg width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
							<title>Heart</title>
							<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
							<path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
						</svg>
						for reading. If you enjoyed this story I would be happy if you share it or send me a message on <a href="https://www.twitter.com/bhdzllr">Twitter</a>.</p>
				</aside>
			</article>
		</main>

{{> "html-end"}}
