<{{#if element}}{{element}}{{else}}article{{/if}} class="card card--color-full article article--card">
	{{#if article.date}}
	{{#if article.year}}
	<p class="article__datetime">
		<time datetime="{{article.year}}">{{article.year}}</time>
		{{> pinned item=article}}
	</p>
	{{else}}
	<p class="article__datetime">
		<time datetime="{{formatDate article.date}}">{{formatDate article.date}}</time>
		{{> pinned item=article}}
	</p>
	{{/if}}
	{{/if}}
	<p class="article__categories">
		{{#each article.categories}}
		<span>{{this}}</span>
		{{/each}}
	</p>
	{{#if article.image}}
	<div class="article__image">
		{{image article.image article.imageAlt}}
	</div>
	{{/if}}
	<h{{#if level}}{{level}}{{else}}2{{/if}} class="article__title">{{article.title}}</h{{#if level}}{{level}}{{else}}2{{/if}}>
	<p class="article__tagline">{{article.tagline}}</p>
	<a href="{{article.url}}" class="stretched-link stretched-link--screen-reader-text">
		<span class="screen-reader-text article__link-text">Show Project</span>
		<span class="screen-reader-text">{{article.title}}</span>
	</a>
</{{#if element}}{{element}}{{else}}article{{/if}}>
